* {
  font-family: 'Share Tech Mono',monospace;
  text-align: center;
  color: white;
  margin: 0px;
}

body{
  background-color: black;
}

#play {
  background-color: black;
}

#song {
  background-color: black;
  border: 1px solid white;
}

canvas {
  z-index: -3;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

#grid {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

#grid2 {
  z-index: -2;
  border: 1px hidden;
}

#grid3 {
  z-index: -1;
  border: 1px hidden;
}

#pause {
  display: none;
}

.info {
  background-color: rgba(0,0,0,0.75);
  margin: 5px;
}

footer {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        position: fixed;
        background-image: url('./../media/exhaust.png');
        background-position: center;
        background-size:cover;

    }

    .fullscreen-bg__video {
        display: none;
    }
}
